.flex{
    display: flex;
}
body{
    background-color: #F2F2F4 !important;
}
header{
    background-color: #ffffff;
    margin-bottom: 25px;
}
.link-primary{
    text-decoration: none ;
    font-size: 14px;
}
header .container .row{
    padding-top: 20px;
    padding-bottom: 20px;
}
.card{
    width: 350px;
    border-radius: 11px !important;
    .card-head{
        img{
            width: 100%;
            max-height: 200px;
        }
    }
}
.profile-banner{
    .profile-2{
        overflow: hidden;
        margin-top: -72px;
        position: absolute;
    }
    .profile-edit-panel {
        text-align: right;
        
        .edit-btn {
            color: #3A3A3A;
            font-size: 12px;
            font-weight: 700;
            line-height: 1;
            padding: 11px 28px;
            display: inline-block;
            border-radius: 50px;
            text-transform: capitalize;
            background-color: #ffffff;
            border: solid black 1px;
            img{
                height: 18px;
                width: 18px;
            }
        }
    }
    .card-name{
        p { margin: 0; }
        .name{
            font-weight: bold;
            font-size: 18px;
        }
        .id-name{
            font-size: 14px;
            color: #B0B0B0;
        }
    }
    .card-info{
        p { margin: 0; }
        .card-info2{
            color: #1AE4A6;
            font-size: 24px;
        }
        .card-info3{
            font-size: 18px;
            color: #B0B0B0;
        }
    }

}
.trending{
    margin-top: 30px;
    padding: 20px;
    .trending-top{
        color: #009EFD;
        font-weight: bold;
        font-size: 20px;
    }
    .trending-body{
        .trending-flex{
            display: flex;
        }
        .trending-icon{
            img{
                width: 20px;
                height: 20px;
            }
        }
    }
}
.people{
    padding: 20px;
    width: 370px;
    .follow{
        width: 100%;
        display: flex;
        
        .follow1{
            color: #009EFD;
            font-weight: bold;
            font-size: 20px;
        }
        .follow2{
            color: #009EFD;
            font-size: 14px;
        }
    }
    .people-n{
        display: flex;
        justify-content: space-between;
        width: 170px;
        
        .people-img{
            width: 56px;
            height: 56px;
        }
        .follow-people{
            .people-id{
                display: flex;
                justify-content: space-between;
                width: 100px;
                p{
                    font-size: 14px;
                }
                .name{
                    font-weight: bold;
                }
                .id-name{
                    color: #B0B0B0;
                }
            }
        }
    }
    .people2{
        .btn-success {
            border: 0;
            border-radius: 20px;
            width: 104px;
            background-color: #1AE4A6;
        }
    }
}
.events{
    margin-top: 30px;
    padding: 20px;
    .event-title{
        color: #009EFD;
        font-weight: bold;
        font-size: 20px;
    }
    .events-body{
        p { margin: 0; }
        .event-location{
            position: absolute;
            margin-left: 20px;
            margin-top: -50px;
            padding: 6px;
            border-radius: 10px;
            width: 80px;
            font-size: 12px;
            color: white;
            background-color: rgba(0, 0, 0, 0.295);
        }
        .event-name{
            margin-top: 10px;
            font-size: 18px;
            font-weight: bold;
        }
        .event-data{
            margin-top: 10px;
            align-items: center;
            height: 20px;
            width: 200px;
        }
        .event-friend{
            margin-top: 30px;
        }
    }
}